<!--____________________________________OVERVIEW____________________________________-->
<div class="overview" uk-scrollspy="cls: uk-animation-slide-right">
    <!-- Header -->
    <h2>{{i18n "Overview"}}</h2>

    <!-- Text -->
    <p>
        {{i18n "overviewText"}}
    </p>

</div>
<br><br>

<!--____________________________________EDUCATION___________________________________-->
<div uk-scrollspy="cls: uk-animation-slide-right">
    <!-- Header -->
    <h2>{{i18n "Education"}}</h2>

    <!-- Accordion -->
    <ul uk-accordion="">

        <!-- Template -->
        {{#arrEdu}}
        <li class="">
            <!-- Title -->
            <a class="uk-accordion-title" href="#">
                <!-- For Desktop -->
                <span class="phoneHide">{{i18n this.title}}</span>
                <!-- For Phone -->
                <span class="phoneShow">MSc in Management<br><b>ESSEC</b><br>2019</span>
            </a>

            <!-- Dropdown -->
            <div class="uk-accordion-content">

                <!-- Logo Grid -->
                <div class="uk-grid">
                    <div class="uk-width-5-6@l uk-width-3-4@s">
                        <p>
                            {{i18n this.aboutSchool}}
                        </p>
                        <p>
                            {{i18n this.aboutSchoolExp}}<span class="phoneHide"> (see course list)</span>.
                        </p>
                    </div>
                    <div class="uk-width-1-6@l uk-width-1-4@s">
                        <img class="uk-vertical-align-middle logos" src="./icons/logos/{{this.id}}.png">
                    </div>
                </div>
                <br>

                <!-- Links and Courses -->
                <a class="eplinks" href="http://www.essec.edu/en/pages/about-essec/2/">About</a>
                <a class="eplinks" href="http://www.essec.edu/en/pages/about-essec/essec-business-school/rankings/">Rankings</a>
                <a class="eplinks" href="#" uk-toggle="target: #course-essec">Courses</a>
                <a class="eplinks" onclick="UIkit.notification({message: 'Degree expected September 2019 but all course requirements finished (see: Transcript).'})" href="#">
                Degree
                </a>
                <a class="eplinks" href="./downloads/ESSEC Transcript.pdf">Transcript</a>
                <ul id="course-essec" hidden>
                    <li>Philosophy and Commerce</li>
                    <li>Web Development</li>
                    <li>VBA Programming</li>
                    <li>Statistical Inference</li>
                    <li>Product Design</li>
                    <li>Consumer Behaviour</li>
                    <li>Anthropology of Luxury Brands</li>
                </ul>

            </div>

        </li>
        {{/arrEdu}}

    </ul>

</div>
<br><br>



<!--____________________________________EXPERIENCE___________________________________-->
<div uk-scrollspy="cls: uk-animation-slide-right">

    <!-- Header -->
    <h2>{{i18n "Experience"}}</h2>

    <!-- Accordion -->
    <ul uk-accordion="">

        <!-- Template -->
        {{#arrExp}}
        <li>

            <!-- Title -->
            <a class="uk-accordion-title" href="#">
                <!-- For Desktop -->
                <span class="phoneHide">{{i18n this.title}}</span>
                <!-- For Phone -->
                <span class="phoneShow">Strategy Intern<br><b>best it</b><br>03/2019-09/2019</span>
            </a>

            <!-- Links and Details -->
            <div class="uk-accordion-content">
                <p>
                    {{i18n this.aboutCompany}}
                </p>
                <p>
                    {{i18n this.aboutExperience}}
                </p>
                <a class="eplinks" href="{{i18n this.aboutLink}}">About</a>
                </a>
            </div>
            <br>
            
            <!-- Logo Grid -->
            <div class="uk-grid">
                <div class="uk-width-5-6@l uk-width-3-4@s">
                <ul>
                    <li class="{{i18n this.task1}}">{{i18n this.task1}}</li>
                    <li class="{{i18n this.task2}}">{{i18n this.task2}}</li>
                    <li class="{{i18n this.task3}}">{{i18n this.task3}}</li>
                    <li class="{{i18n this.task4}}">{{i18n this.task4}}</li>
                    <li class="{{i18n this.task5}}">{{i18n this.task5}}</li>
                </ul>
                </div>
                <div class="uk-width-1-6@l uk-width-1-4@s">
                    <img class="logos" src="./icons/logos/{{this.id}}.png">
                </div> 
            </div>
            <br><br>
        </li>
    {{/arrExp}}

    </ul>

</div>
<br><br>



<!--____________________________________LANGUAGE___________________________________-->
<div uk-scrollspy="cls: uk-animation-slide-right">

    <!-- Header -->
    <h2>{{i18n "Languages"}}</h2>

    <!-- Accordion -->
    <ul uk-accordion="">

        <!-- Template -->
        {{#arrLan}}
        <li>
            <a class="uk-accordion-title" href="#"><img class="flag-icon" src="./icons/flags/{{this.id}}.png">&nbsp;&nbsp;&nbsp;{{i18n this.name}} - {{i18n this.level}}</a>
            <div class="uk-accordion-content">
                <p>{{i18n this.desc}}</p>
                <ul>
                <li class="{{i18n this.academic}}">{{i18n this.academic}}</li>
                <li class="{{i18n this.professional}}">{{i18n this.professional}}</li>
                <li class="{{i18n this.personal}}">{{i18n this.personal}}</li>
                </ul>
                <br>
            </div>
        </li>
        {{/arrLan}}

    </ul>

</div>
<br><br>



<!--_____________________________________SKILLS____________________________________-->
<div uk-scrollspy="cls: uk-animation-slide-right">

    <!-- Header -->
    <h2>{{i18n "Skills"}}</h2>

    <!-- Accordion -->
    <ul uk-accordion="">

        <!-- Template -->
        {{#arrSki}}
        <li>
            <a class="uk-accordion-title" href="#"><i class="{{this.logo}}"></i>&nbsp;&nbsp;&nbsp;{{this.name}}</a>
            <div class="uk-accordion-content uk-grid">
                <div class="uk-width-1-6@l uk-width-1-4@s uk-width-1-2">
                    {{#each this.skills}}<p>{{this}}</p>{{/each}}
                    <br>
                </div>
                <div class="uk-width-1-6@l uk-width-1-4@s uk-width-1-2">
                    {{#each this.levels}}<p>{{{skillHTML this}}}</p>{{/each}}
                </div>
                
            </div>
        </li>
        {{/arrSki}}

    </ul>

</div>
<br><br>



<!--___________________________________INTERESTS___________________________________-->
<div uk-scrollspy="cls: uk-animation-slide-right">

    <!-- Header -->
    <h2>{{i18n "Interests"}}</h2>

    <!-- Accordion -->
    <ul uk-accordion="">

        <!-- Template -->
        {{#arrInt}}
        <li>
            <a class="uk-accordion-title" href="#"><i class="{{this.logo}}"></i>&nbsp;&nbsp;&nbsp;{{i18n this.name}}</a>
            <div class="uk-accordion-content">
                <p>{{i18n this.desc}}</p>
                <div class="uk-child-width-1-6@l uk-child-width-1-3" uk-grid uk-lightbox="animation: slide">

                    {{#each this.items}}
                    <div>
                        <a class="uk-inline" href="images/interests/{{this}}.jpg" data-caption="{{i18n this}}">
                            <img src="images/interests/{{this}}-tn.jpg" class="{{../class}}" alt="">
                        </a>
                    </div>
                    {{/each}}
                </div>
                <br><br>
            </div>
        </li>
        {{/arrInt}}

    </ul>

</div>
<br><br>